body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#jeopardy {
  text-align: center;
  font-size: 9pt;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
}

#jeopardy th,
#jeopardy td {
  border: solid 1px white;
  width: 12em;
  padding: 1em;
}

th {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  height: 3em;
  text-shadow: rgb(114, 100, 100) 1px 1px;
}

td {
  height: 7.2em;
  font-family: Copse, serif;
}

tbody td:hover {
  cursor: pointer;
}

button {
  height: 2.5rem;
  color: #fff;
  background-color: rgb(17, 170, 17);
  font-size: 20px;
}

button:hover {
  background-color: rgb(7, 126, 7);
  cursor: pointer;
}

i {
  text-shadow: rgb(114, 100, 100) 1px 1px;
}

i:hover {
  color: rgb(187, 161, 161);
}
